@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:@500&display=swap");
:root {
  --yellow-theme-background-color: rgb(35, 92, 208);
  --yellow-theme-main-color: #00fffbf0;
  --yellow-theme-sub-text-color: #ffffff;
  --yellow-theme-nav-background-color: #181818;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background: var(--yellow-theme-background-color);
  height: 100%;
}

#root {
  height: 100%;
}
